<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
    <!-- Требуемые настройки -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <!-- Путь к проекту -->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\portal" /> 
    <!-- Настройки проекта -->
    <add key="DJANGO_SETTINGS_MODULE" value="demodjango.settings" />
  </appSettings>


    <system.webServer>
        <handlers>
            <add name="demodjango" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
